apiVersion: v1
kind: Service
metadata:
  name: application-service
  namespace: healthcare
spec:
  type: LoadBalancer
  selector:
    app: application-service
  ports:
    - port: 80
      targetPort: 3001
      protocol: TCP
