apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: healthcare
spec:
  type: LoadBalancer
  selector:
    app: order-service
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
