apiVersion: v1
kind: Service
metadata:
  name: patient-service
  namespace: healthcare
spec:
  type: LoadBalancer
  selector:
    app: patient-service
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP
